@import "../../assets/scss/animations";
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor; //the same as text color
  padding: 2px; //to create space between the border
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  span { //if there is
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }
  &:focus {
    outline: none;
    @include infinitePulsateAnimation;
  }
}